
# Virtual environment
alpha/
venv/
env/
.env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Outputs and plots
outputs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# isic
data/isic/

# data 
data/